.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    border-radius: 20px;
    /* background-color: rgba(255, 255, 255, 0.7); */
  }
  
  .loader-image{
    border-radius: 20px;
    height: 50%;
  }