/* MovieCard.css */

.movie-card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #fff;
  cursor: pointer;
  min-height: 450px;
  text-decoration: none;
}

.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.movie-card.expanded {
  height: auto;
}

.movie-card img {
  width: 100%;
  height: 200px; /* Fixed height for the image */
  object-fit: cover; /* Ensure image covers the entire space */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.movie-info {
  padding: 15px;
}

.movie-info h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.movie-info .overview {
  margin-bottom: 10px;
  font-size: 14px;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.movie-info .rating {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #333;
}

.movie-info .rating span {
  margin-left: 5px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .movie-card {
    height: auto;
  }

  .movie-card.expanded {
    height: auto;
  }

  .movie-card img {
    height: 250px; /* Adjusted height for the image */
  }
}

.movieCardMobile {
  color: #ddd;
  font-family: sans-serif;
  display: block;
  background: linear-gradient(#222, #111);
  padding: 20px;
  /* width: 400px; */
  /* width: 100%; */
  overflow: hidden;
  border-radius: 4px;
  margin: 10px;
  box-shadow: 2px 2px 3px #111;
}
/* .movieCardMobile:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
} */
.Pcollapsed {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-overflow: ellipsis;
}
.poster {
  margin-right: 20px;
  height: 200px;
  width: 135px;
  float: left;
  border: 1px solid #ddd;
  border-radius: 3px;
}

h3 {
  margin: 0px;
  text-decoration: none;
  border: 0;
}

.movieYear {
  color: red;
}

p {
  text-align: justify;
  color: #888;
}

button {
  background-color: #404040; /* Blue background */
  color: white; /* White text */
  border: none; /* No border */
  padding: 10px 20px; /* Padding around the text */
  font-size: 16px; /* Text size */
  cursor: pointer; /* Change mouse cursor to indicate clickable item */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s, transform 0.2s; /* Smooth transition for background color and transform */
  margin-top: 10px; /* Space above the button */
}

button:hover {
  background-color: #0056b3; /* Darker blue background on hover */
  transform: scale(1.05); /* Slightly increase size on hover */
}

button:focus {
  outline: none; /* Remove outline on focus for a cleaner look */
}
