.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  border-radius: 20px;
}
.error-image{
    border-radius: 20px;
    height: 100%;
  }
@media screen and (max-width: 800px) {
  .error-image{
    height: 60%;
  }
}
@media screen and (max-width: 500px) {
  .error-image{
    height: 50%;
  }
}